.profile__edit-button {
  width: 24px;
  height: 24px;
  background-color: black;
  background-image: url("../../../images/Edit-Button.svg");
  background-size: cover;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: -42px;
  top: 14px;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    right: -28px;
    top: 8px;
  }
}
