.profile__profile-info {
  position: relative;
  height: max-content;
  margin: auto 0 auto 30px;
}

@media screen and (max-width: 767px) {
  .profile__profile-info {
    margin: 26px auto 36px;
  }
}

